.header{
    width: 80%;
    box-shadow: 1px 1px 4px 1px rgba(180, 16, 230, 0.397);
    background-color: rgba(211, 114, 241, 0.144);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 22px;
    letter-spacing: 0.185em;
    color: #000000;
    text-shadow: 3px 4px 4px rgba(205, 57, 231, 0.685);
}

.header ul{
    display: flex;
    align-items: center;
}   

.header ul li{
    text-decoration: none;
    list-style-type: none;
    padding:5px 20px 5px 20px ;
    cursor: pointer;
}

.logo{
    padding: 10px;
}

.header ul li:hover{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px ;
    background-color: #945aff5d;
    transition: 0.5s;
    box-shadow: 1px 1px 4px 1px rgba(180, 16, 230, 0.397);
}
