.pyssiesContainer{
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

.title{
    text-align: center;
    font-size: 45px;
    letter-spacing: 5px;
    color: #000000;
    text-shadow: 1px 1px 4px rgba(205, 57, 231, 0.685);
}   

.pyssiesContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pyssyCard{
    width: 300px;
    padding: 30px;
}

.cardTitle{
    font-size: 20px;
    letter-spacing: 0.185em;
    color: #000000;
    text-shadow: 2px 2px 3px rgba(205, 57, 231, 0.685);
}

.cardImage{
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px 2px 1px rgba(180, 16, 230, 0.397);
    border-radius: 10px;
    transition: 0.5s;
}

.buyPussy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardPrice{
    letter-spacing: 0.185em;
    color: #000000;
    text-shadow: 2px 2px 3px rgba(205, 57, 231, 0.685);
}

.btnBuyPussy{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px ;
    background-color: #945aff5d;
    box-shadow: 1px 1px 4px 1px rgba(180, 16, 230, 0.397);
    padding: 8px;
    font-family: 'Kaushan Script', cursive;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.btnBuyPussy:hover{
    background-color: #945aff79;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px ;
    transition: 0.5s;
}
.cardImage:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.5s;
    
}